Generic REST Service - DF16/REST_Service_Business_Logic-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>actionFAILURE</name>
        <label>actionFAILURE</label>
        <locationX>468</locationX>
        <locationY>213</locationY>
        <assignmentItems>
            <assignToReference>resultBolSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultIntCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>9999.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultStrError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Record Insert/Update Failure</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultStrExtendedInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>actionSuccess</name>
        <label>actionSuccess</label>
        <locationX>284</locationX>
        <locationY>212</locationY>
        <assignmentItems>
            <assignToReference>resultBolSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultIntCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultStrError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SUCCESS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultStrExtendedInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>soAccount.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>initialFAILURE</name>
        <label>initialFAILURE</label>
        <locationX>57</locationX>
        <locationY>363</locationY>
        <assignmentItems>
            <assignToReference>resultBolSuccess</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultIntCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1001.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultStrError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No Action Specified</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>resultStrExtendedInfo</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Determine_Intended_Action</name>
        <label>Determine Intended Action</label>
        <locationX>57</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>initialFAILURE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>createAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>createAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Account</targetReference>
            </connector>
            <label>createAccount</label>
        </rules>
        <rules>
            <name>updateAccount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>strAction</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>updateAccount</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>updateAccount</label>
        </rules>
    </decisions>
    <interviewLabel>REST Service Business Logic {!$Flow.CurrentDateTime}</interviewLabel>
    <label>REST Service Business Logic</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>281</locationX>
        <locationY>98</locationY>
        <connector>
            <targetReference>actionSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>actionFAILURE</targetReference>
        </faultConnector>
        <inputReference>soAccount</inputReference>
    </recordCreates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>285</locationX>
        <locationY>329</locationY>
        <connector>
            <targetReference>actionSuccess</targetReference>
        </connector>
        <faultConnector>
            <targetReference>actionFAILURE</targetReference>
        </faultConnector>
        <inputReference>soAccount</inputReference>
    </recordUpdates>
    <startElementReference>Determine_Intended_Action</startElementReference>
    <variables>
        <name>resultBolSuccess</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>resultIntCode</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>resultStrError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>resultStrExtendedInfo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Used as the I/O variable for the REST Processor</description>
        <name>soAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Used as the I/O variable for the REST Processor</description>
        <name>soContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>strAction</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
